<form class="text-center border border-light p-5 col-lg-6 offset-lg-3" (ngSubmit)="insertBill()">

    <p class="h4 mb-4">Nuevo bill</p>

    <input type="hidden" id="RecipeId" name="RecipeId"
     required [(ngModel)]="bills[0].id">

    <input type="text" class="form-control" id="billDate"
    name="billDate" placeholder="Fecha"
    required [(ngModel)]="bills[0].billDate"/>
    <br>

    <input type="text" class="form-control" id="amount"
    name="amount" placeholder="Precio"
    required [(ngModel)]="bills[0].amount"/>
    <br>

    <input type="text" class="form-control" id="ruc"
    name="ruc" placeholder="RUC"
    required [(ngModel)]="bills[0].ruc"/>
    <br>

    <button type="submit" class="btn btn-success" onClick="window.location.href='list-bills';">
        Save
    </button>
</form>