
<div style="display: flex; width: 100%; border: 1px solid red; justify-content: space-evenly;" >
    <div class="card " style="width: 10rem;" *ngFor="let nutritionist of nutritionists">
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="card-img-top" alt="...">
        <div class="text-center" >
            <p class="card-text">{{ nutritionist.firstName }} {{ nutritionist.lastName }}</p>
            <p class="card-text">{{ nutritionist.cnpNumber }} NUMBER</p>
            <p class="card-text">{{ nutritionist.email }}</p>
            <button type="submit" class="btn btn-primary" onClick="window.location.href='nutritionist-selected';">
                Ver horarios disponibles
            </button>
        </div>
    </div>
</div>
<br>
<div>
    <div class="card " style="border: 1px solid purple">
        <div>
            <span class="badge bg-light text-dark">
                <h3>
                    INDICACIONES
                </h3>
            </span>
        </div>
        <div class="card mb-3" style="border: 1px solid blue;  display: flex; justify-content: space-evenly; width: 100%; flex-direction: row;">
            <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap" style="width: 20rem;border: 1px solid blue">
            <div class="card-body" style="border: 1px solid red; width: 50rem;">
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum atque eius nam facilis nesciunt ipsum officia at debitis. Ipsum eaque saepe officia iure quaerat incidunt possimus, necessitatibus inventore provident aspernatur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quas distinctio eaque laboriosam mollitia maiores, facere sit earum nostrum laudantium maxime culpa iste cupiditate id! Tempora repellendus itaque assumenda, corrupti officiis voluptates quibusdam magnam. Quos dolores odio sint alias nemo.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem officiis repudiandae deleniti ad ut corporis. Quidem amet dolor reiciendis, blanditiis corrupti aliquam totam nobis, esse aperiam sit nam quasi id voluptatum minus! Expedita neque eaque aliquid maxime laboriosam quidem. Voluptatibus?</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem officiis repudiandae deleniti ad ut corporis. Quidem amet dolor reiciendis, blanditiis corrupti aliquam totam nobis, esse aperiam sit nam quasi id voluptatum minus! Expedita neque eaque aliquid maxime laboriosam quidem. Voluptatibus?</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem officiis repudiandae deleniti ad ut corporis. Quidem amet dolor reiciendis, blanditiis corrupti aliquam totam nobis, esse aperiam sit nam quasi id voluptatum minus! Expedita neque eaque aliquid maxime laboriosam quidem. Voluptatibus?</li>
                </ul>
            </div>
        </div>
    </div>
</div>