<!-- Default form login -->
<form class="text-center border border-light p-5 col-lg-6 offset-lg-3">

    <p class="h4 mb-4">Sign in</p>
  
    <!-- Email -->
    <input type="username" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="Username">
  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
  
    <div class="d-flex justify-content-around">
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>
    </div>
  
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit" onClick="window.location.href='menu';">Ingresar Cliente</button>
    <button mdbBtn color="info" block="true" class="my-4" type="submit" onClick="window.location.href='menu-nutritionist';">Ingresar Nutricionista</button>
  
    <!-- Register -->
    <p>Not a member?
      <a href="new-client">Register</a>
    </p>
  
  </form>
  <!-- Default form login -->
