<form class="text-center border border-light p-5 col-lg-6 offset-lg-3" (ngSubmit)="getUser()">

    <p class="h4 mb-4">Login</p>
  
    <input type="username" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="Username"
    name="Username"
    required [(ngModel)]="username">

    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password"
    name="Password"
    required [(ngModel)]="password">
  
    <div class="d-flex justify-content-around">
      <div>
        <a href="">¿Olvidaste tu contraseña?</a>
      </div>
    </div>
  
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Ingresar</button>
    
    <p>¿No eres miembro?
      <br>
      <button type="button" (click)='registerClient()'>Regístrate (Cliente)</button>
      <br>
      <button type="button" (click)='registerNutritionist()'>Regístrate (Nutricionista)</button>
    </p>
  
</form>