<br>
<br>
<div class="container">
    <div class="main-body">
          <!-- /Breadcrumb -->
          <div class="row gutters-sm">
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="../assets/logoreducido2.png" alt="Admin" width="260">
                    <br>
                    <h2>Nutricare</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success" onClick="window.location.href='list-clients';">
                        Perfil
                    </button>
                    <button type="submit" class="btn btn-success" onClick="window.location.href='available-nutritionist';">
                        Asesorías
                    </button>
                    <button type="submit" class="btn btn-success" onClick="window.location.href='appointments-history-client';">
                        Historial de asesorías
                    </button>
                    <button type="submit" class="btn btn-success" onClick="window.location.href='list-recipes';">
                        Recetas
                    </button>
                    <button type="submit" class="btn btn-success" onClick="window.location.href='list-recommendations';">
                        Recomendaciones
                    </button>
                    <button type="submit" class="btn btn-success" onClick="window.location.href='list-payment-methods';">
                        Métodos de pago
                    </button>
                    <button type="submit" class="btn btn-success" onClick="window.location.href='menu';">
                        Pagos realizados
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>