<div>
    <button type="submit" class="btn btn-success" onClick="window.location.href='profile';">
        Perfil
    </button>
</div>
<br>
<div>
    <button type="submit" class="btn btn-success" onClick="window.location.href='menu';">
        Asesorías
    </button>
</div>
<br>
<div>
    <button type="submit" class="btn btn-success" onClick="window.location.href='menu';">
        Historial de asesorías
    </button>
</div>
<br>
<div>
    <button type="submit" class="btn btn-success" onClick="window.location.href='menu';">
        Recetas
    </button>
</div>
<br>
<div>
    <button type="submit" class="btn btn-success" onClick="window.location.href='menu';">
        Recomendaciones
    </button>
</div>
<br>
<div>
    <button type="submit" class="btn btn-success" onClick="window.location.href='menu';">
        Métodos de pago
    </button>
</div>
<br>
<div>
    <button type="submit" class="btn btn-success" onClick="window.location.href='menu';">
        Pagos realizados
    </button>
</div>