<div style="display: flex; width: 100%; justify-content: space-evenly;">
    <div class="card " style="width: 14rem; border: 1px solid blue;">
        <div class="card " style="width: 14rem;">
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="card-img-top" alt="...">
            <div class="text-center" >
                <p class="card-text"> {{ nutritionist.firstName }} {{ nutritionist.lastName }} </p>
                <p class="card-text">CNP: {{ nutritionist.cnpNumber }}</p>
                <p class="card-text">Email: {{ nutritionist.email }}</p>
                <p class="card-text">Calificación</p>
                <form>
                    <p class="clasificacion">
                      <input id="radio1" type="radio" name="estrellas" value="5">
                      <label for="radio1">★</label>
                      <input id="radio2" type="radio" name="estrellas" value="4">
                      <label for="radio2">★</label>
                      <input id="radio3" type="radio" name="estrellas" value="3">
                      <label for="radio3">★</label>
                      <input id="radio4" type="radio" name="estrellas" value="2">
                      <label for="radio4">★</label>
                      <input id="radio5" type="radio" name="estrellas" value="1">
                      <label for="radio5">★</label>
                    </p>
                  </form>
            </div>
        </div>
    </div>
    <div>               
        <br>
        <h3 class="text-center">HORARIOS DISPONIBLES</h3>
        <br>    
        <!--aqui poner las varibles que quieres mostrar  {{ variable.varible }} {{ variable.varible }} {{ variable.varible }}-->
        <button type="button" class="btn btn-outline-success" style="width: 40rem; display: flex; justify-content: space-evenly;" 
        onClick="window.location.href='new-appointment';">
            <span>2021-05-08</span>
            <span>01:05:28.275</span>
            <span>+00:00</span>
        </button>
        <br> 
        <button type="button" class="btn btn-outline-success" style="width: 40rem; display: flex; justify-content: space-evenly;"
        onClick="window.location.href='new-appointment';">
            <span>2021-05-08</span>
            <span>01:05:28.275</span>
            <span>+00:00</span>
        </button>
        <br> 
        <button type="button" class="btn btn-outline-success" style="width: 40rem; display: flex; justify-content: space-evenly;"
        onClick="window.location.href='new-appointment';">
            <span>2021-05-08</span>
            <span>01:05:28.275</span>
            <span>+00:00</span>
        </button>
        <br> 
        <button type="button" class="btn btn-outline-success" style="width: 40rem; display: flex; justify-content: space-evenly;"
        onClick="window.location.href='new-appointment';">
            <span>2021-05-08</span>
            <span>01:05:28.275</span>
            <span>+00:00</span>
        </button>
        <br>
    </div>
        
</div>