<div class="main-body" oncontextmenu='return false' class='snippet-body'>
    <div class="card mt-50 mb-50">
        <div class="card-title mx-auto"> Métodos de pago </div>
        <div class="nav">
            <ul class="mx-auto">
                <li class="active">Payment</li>
            </ul>
        </div>
        <form (ngSubmit)="insertPaymentMethod()">
            <span id="card-header">Add new card:</span>
            <div class="row-1">
                <div class="row row-2"> <span id="card-inner">First Name</span> </div>
                <div class="row row-2"> <input type="text" placeholder="First Name" required [(ngModel)]="payments[0].ownerFirstname"/> </div>
            </div>
            <div class="row-1">
                <div class="row row-2"> <span id="card-inner">Last Name</span> </div>
                <div class="row row-2"> <input type="text" placeholder="Last Name" required [(ngModel)]="payments[0].ownerLastname"/> </div>
            </div>
            <div class="row three">
                <div class="col-7">
                    <div class="row-1">
                        <div class="row row-2"> <span id="card-inner">Número de tarjeta</span> </div>
                        <div class="row row-2"> <input type="text" placeholder="5134-5264-4" required [(ngModel)]="payments[0].cardNumber"/> </div>
                    </div>
                </div>
                <div class="col-2"> <input type="text" placeholder="Month" required [(ngModel)]="payments[0].expirationDateMonth"/> </div>
                <div class="col-2"> <input type="text" placeholder="Year" required [(ngModel)]="payments[0].expirationDateYear"/> </div>
            </div>
            <div class="row three">
                <div class="col-7">
                    <div class="row-1">
                        <div class="row row-2"> <span id="card-inner">Tipo de tarjeta</span> </div>
                        <div class="row row-2"> 
                            <select name="select">
                                <option value="Débito" required [(ngModel)]="payments[0].cardType">Débito</option>
                                <option value="Crédito" required [(ngModel)]="payments[0].cardType">Crédito</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-2"> <input type="text" placeholder="Cod.Postal" required [(ngModel)]="payments[0].postalCode"/> </div>
                <div class="col-2"> <input type="text" placeholder="CVV" required [(ngModel)]="payments[0].securityCode"/> </div>
            </div>
            <div class="row three">
                <div class="col-7">
                    <div class="row-1">
                        <div class="row row-2"> <span id="card-inner">Celular</span> </div>
                        <div class="row row-2"> <input type="text" placeholder="993607807" required [(ngModel)]="payments[0].phoneNumber"> </div>
                    </div>
                </div>
                <div class="col-2"> <input type="text" placeholder="País" required [(ngModel)]="payments[0].country"/> </div>
                <div class="col-2"> <input type="text" placeholder="Ciudad" required [(ngModel)]="payments[0].city"/> </div>
            </div>
            <div class="row-1">
                <div class="row row-2"> <span id="card-inner">Dirección</span> </div>
                <div class="row row-2"> <input type="text" placeholder="Dirección" required [(ngModel)]="payments[0].billingAddress"/> </div>
            </div>
            <div class="row-1">
                <div class="row row-2"> <span id="card-inner">Dirección línea 2</span> </div>
                <div class="row row-2"> <input type="text" placeholder="Dirección línea 2" required [(ngModel)]="payments[0].billingAddressLine2"/> </div>
            </div>
            <button type="submit" class="btn d-flex mx-auto" onClick="window.location.href='login';"><b>Add card</b></button>
        </form>
    </div>
    <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <script type='text/javascript'></script>
</div>